:root{
    --green-color: #14B789;
    --blue-color: #535DA1;
    --section-padding: 50px;
    --light-black: #717275;
    --dark-bg-color: #f9f9f9;
    --simple-border-radius: 20px;
    --light-border-color: #eee;
    --navbar-height: 80px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

#about, #services, #projects, #contact{
    scroll-margin-top: calc(var(--navbar-height) + 10px);
}

h1{
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 92%;
    padding-left:20px;
    padding-right:20px;
}
@media (min-width: 575px){
.container{
    width: 550px;
}
}

@media (min-width: 768px){
.container{
    width: 750px;
}
}
@media (min-width: 992px){
.container{
    width: 960px;
}
}
@media (min-width: 1200px){
.container{
    width: 1140px;
}
}

.section{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.flex{
    display: flex;
    justify-content: space-between;
}

nav{
    background-color: var(--blue-color);
    color: white;
}

nav .container{
    align-items: center;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    height: var(--navbar-height);
}

nav .container .nav-left,
nav .container .nav-right{
    display: flex;
    align-items: center;
    /* flex: 1; */
}

nav .container .nav-left .nav-links li{
    margin-right: 20px;
}

@media (max-width: 991px){
    nav .container .nav-left{
        width: 50%;
        justify-content: space-between;
    }
}

nav .nav-toggler{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 20px;
    cursor: pointer;
    margin-right: 4px;
    flex-shrink: 0;
}

nav .nav-toggler span{
    height: 2px;
    background-color: black;
}

@media (min-width: 992px){
    nav .nav-toggler{
        display: none;
    }
}

nav .logo{
    font-size: 25px;
    margin-right: 50px;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-weight: bold;
}

nav .logo,
nav .nav-links li a,
nav .nav-right{
    padding-top: 10px;
    padding-bottom: 10px;
}

nav .nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

nav .nav-links li a{
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;   
}

nav .nav-links li a:hover{
    color: var(--green-color);
    /* border-bottom: 2px solid var(--green-color);    */
    border-bottom-color: var(--green-color);
}

nav .nav-links li a.active {
    color: var(--green-color);
    border-bottom: 2px solid var(--green-color);
}

nav .phone{
    padding: 11px;
    color: black;
    transform: rotate(90deg);
    background-color: white;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 10px;
}

nav .phone-num{
    padding: 10px 18px;
    border: 1px solid white;
    border-radius: var(--simple-border-radius);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

nav .phone-num:hover{
    background-color: white;
    color: var(--green-color);
}


nav.scroll .container{
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: fixed;
    z-index: 10;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: wrap;
}

nav.scroll .logo,
nav.scroll .nav-links li a{
    color: black;
}

nav.scroll .phone{
    background-color: var(--green-color);
    color: white;
}

nav.scroll .phone-num{
    color: var(--green-color);
    border-color: var(--green-color);
}

nav.scroll .phone-num:hover{
    color: white;
    background-color: var(--green-color);
}

@media (max-width: 992px){
    nav .container{
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: wrap;
    }


    nav .container .nav-left{
    justify-content: space-between;
    }

    nav .logo{
        color: black;
    }
    
    nav .nav-links{
        display: none;
    }

    nav .nav-links.active{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding-left: 12px;
        padding-bottom: 20px;
        position: absolute;
        top: 99%;
        left: 0;
        background: white;
        width: 100%;
    }

    nav .nav-links li a{
        color: black;
    }

    nav .container:has(.nav-links.active){
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .nav-toggler.active span:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
        transition: 0.3s;
        }

        .nav-toggler.active span:nth-child(2) {
        opacity: 0;
        transition: 0.3s;
        }

        .nav-toggler.active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
        transition: 0.3s;
        }

    nav .phone{
        background-color: var(--green-color);
        color: white;
    }

    nav .phone-num{
        color: var(--green-color);
        border-color: var(--green-color);
        font-size: 12px;
    }

}

@media (max-width: 460px){
    nav .container{
        gap: 0;
    }
    nav .container .nav-left{
        width: 35%;
    }

}

.landing{
    min-height:100vh;
    height: auto;
    background-color: var(--blue-color);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 500'><path d='M0,700L0,262C81.1076923076923,274.81538461538463,162.2153846153846,287.63076923076926,239,267C315.7846153846154,246.36923076923077,388.2461538461538,192.29230769230767,455,210C521.7538461538462,227.70769230769233,582.8,317.20000000000005,675,310C767.2,302.79999999999995,890.553846153846,198.9076923076923,992,165C1093.446153846154,131.0923076923077,1172.9846153846156,167.16923076923078,1244,195C1315.0153846153844,222.83076923076922,1377.5076923076922,242.4153846153846,1440,262L1440,700L0,700Z' fill='%2300d084' fill-opacity='1'/></svg>");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: var(--section-padding);
}

.landing .main-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 0;
    margin-top: 50px;
}

@media (max-width: 991px){
    .landing .main-info{
        margin-top: 75px;
        gap: 100px 0;
    }
}

@media (max-width: 767px){
    .landing .main-info{
        gap: 100px 0;
    }
}

.landing .main-info .hello,
.landing .main-info .available,
.landing .main-info .begin{
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 50px;
}

.landing .img-hello{
    display: flex;
    align-items: center;
    gap: 10px;
}
.landing .img-hello .img-left{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%; 
}

.landing .img-hello .hello{
    display: inline-block;
    font-size: 40px;
    background-color: white;
}


.landing .available{
    color: var(--green-color);
    font-size: 35px;
    background-color: white;
    width: fit-content;
    margin: 20px 0;
}

@media (max-width: 767px) {
    .landing .img-hello .hello,
    .landing .available{
        font-size: 26px;
    }
}

@media (max-width: 575px){
    .landing .img-hello .hello,
    .landing .available,
    .landing .main-info .begin{
        font-size: 17px;
    }
}

.landing .begin{
    color: white;
    background-color: var(--blue-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: fit-content;
    font-size: 20px;
    cursor: pointer;
}

.landing .begin:hover{
    background-color: var(--green-color);
}

.landing .img-right-container{
    position: relative;
    /* width: 500px; */
    width: 300px;
    /* overflow: hidden; */ /*Can't be added with position absolute for img */
    height: 100px;
}

.landing .img-right-container::before{
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 2;
}

.landing .img-right-container .img-right{
    position: absolute;
    z-index: 3;
    width: 350px;
    right: 0px;
    top: -150px;  
}

@media (max-width: 991px) {
    .landing .img-right-container{
        margin-top: 30px;
        width: 100%;
        height: 400px;
    }

    .landing .img-right-container::before{
        top: -75px;
        left: 250px;  
    }

    .landing .img-right-container .img-right{
        top: -50px;
        left: 0;

    }
}


@media (max-width: 575px) {
    .landing .img-right-container::before,
    .landing .img-right-container .img-right{
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 380px) {
    .landing .img-right-container::before{
        width: 200px;
        height: 200px;
    }
    
    .landing .img-right-container .img-right{
        width: 250px;
    }
}

.story-section{
    background-color: white;
}

.story-section .container{
    /* align-items: center; */
    /*align-items: flex-start; /*Def value is stretch, so img will take the full height
                            except align-items here or align-self is added for img */
    /* background-color: #aaa; */
    gap: 30px;
}

@media (max-width: 991px){
    .story-section .container{
        flex-direction: column;
    }
}

.story-section .story-left-img{
    width: 50%;
    /* height: 200px; */
    /*bec for flex the def value is align-items: strect*/
    /*or*/
    /*align-self: center; /*or flex start*/
    border-radius: var(--simple-border-radius);
}

@media (max-width: 991px){
    .story-section .story-left-img{
        width: 100%;
    }
}

.story-section .story-info{
    width: 50%;
}

@media (max-width: 991px){
    .story-section .story-info{
        width: 100%;
    }
}

.story-section .story-title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px;
    background-color: var(--green-color);
    border-radius: var(--simple-border-radius);
}

.story-section .story-title .my-story{
    font-size: 45px;
    color: white;
    font-weight: bold;
}

@media (max-width: 767px){
    .story-section .story-title .my-story{
        font-size: 25px;
    }
}

.story-section .story-title img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.story-section .story-subtitle{
    font-size: clamp(20px, 7vw ,25px);
    margin: 25px 0;
}

.story-section .story-text{
    line-height: 1.5;
    color: var(--light-black);
}

.story-section .story-text p:first-child{
    margin-bottom: 15px;
}

.information{
    background-color: var(--dark-bg-color);
}

.information table{
    width: calc(50% - 10px);
    border-spacing: 0;
}

.information table td{
    border-right: 1px solid var(--light-border-color);
    border-bottom: 1px solid var(--light-border-color);
    padding: 12px;
}

.information table tr td:first-child{
    border-left: 1px solid var(--light-border-color);
}


.information table thead td{
    font-size: 25px;
    font-weight: bold;
    border-top: 1px solid var(--light-border-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.information table tbody tr td:first-child{
    color: var(--green-color);
    font-weight: bold;
}

.information table tbody tr td:nth-child(2){
    color: var(--light-black);
}

.information table tbody tr:nth-child(2),
.information table tbody tr:nth-child(4){
    background-color: white;
}

.information table tbody tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}

.information table tbody tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

.information .stats{
    width: calc(50% - 10px);
    flex-wrap: wrap;
    position: relative;
}

.information .stats::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: var(--light-border-color);
    z-index: 1;
}

.information .stats::after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: var(--light-border-color);
    z-index: 1;
}

.information .stats .stat{
    width: calc(50% - 30px);
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}


.information .stats .stat .stat-num{
    font-size: 80px;
    font-weight: bold;
}


.information .stats .stat .stat-info{
    font-size:22px;
    color: var(--green-color);
    padding-bottom: 5px;
}

@media (max-width: 992px){
    .information .stats .stat .stat-num{
        font-size: 60px;
}

    .information .stats .stat .stat-info{
        font-size: 17px;
    }
}


@media (max-width: 767px){
    .information .container{
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .information table,
    .information .stats{
        width: 100%;
    }

    .information .stats .stat .stat-num{
        font-size: 35px;
    }
}

@media (max-width: 575px){
    .information .stats .stat{
    width: calc(50% - 10px);
    }
    
    .information .stats .stat .stat-info{
        font-size: 12px;
    }
}

.companies{
    background-color: white;
}


@media (min-width: 992px){
    .companies .container{
        padding-left:80px;
        padding-right:80px;
    }
}

.companies h1{
    text-align: center;
    margin-bottom: 30px;
}

.companies .companies-list{
    flex-wrap: wrap;
    align-items: center;
}

.companies .companies-list img{
    width: 100px;
    transition: transform 0.3s;
}

.companies .companies-list img:hover{
    transform: scale(1.2);
}

@media (max-width: 767px){
    .companies .container .companies-list{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .companies .container .companies-list img{
        width: 150px;
    }
}

.services{
    background-color: var(--dark-bg-color);
}

.title-section{
    padding: 10px 0; 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: var(--green-color);  
    border-radius: var(--simple-border-radius); 
}

.title-section img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.title-section h1{
    font-size: 50px;
    color: white;
}

@media (max-width: 575px){

    .title-section{
        margin-bottom: 10px;
    }

    .title-section img{
        width: 100px;
        height: 100px;
    }

    .title-section h1{
        font-size: 30px;
    }
}

.services .services-cards{
    flex-wrap: wrap;
}

.services .services-cards > div{
    width: 48%;
}

.services .services-cards .col1{
    margin-top: 40px;
}

@media (max-width: 991px){
    .services .services-cards > div{
        width: 100%;
    }
    
    .services .services-cards .col1{
        margin-top: 10px;
        margin-bottom: 25px;
    }
}

.services .services-cards > div div:first-child{
    margin-bottom: 25px;
}

.services .card,
.projects .card{
    border-radius: var(--simple-border-radius);
    border: 3px solid transparent;
    height: 400px;
    transition: border-color 0.4s ease;
    position: relative;
    overflow: hidden;
}

.services .card{
    padding: 50px;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    background-color: white;
}

.services .card:hover,
.projects .card:hover{
    border-color: var(--green-color);
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}   

.services .card .service-card-top{
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.services .card .service-card-top:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -15px;
    background-color: #efefef;
}

.services .card .service-card-top .service-card-title{
    font-size: 40px;
}

@media (max-width: 575px){
    .services .card{
        padding-left: 30px;
        padding-right: 30px;
    }
    .services .card .service-card-top .service-card-title{
        font-size: 20px;
    }   
}

.services .card .service-card-top .price{
    background-color: #535DA1;
    border-radius: var(--simple-border-radius);
    padding: 10px 25px;
    color:white;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.services .card .service-card-top .price::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--green-color);
    right: -10px;
    top: -10px;
}

.services .card .service-card-top .price:hover{
    background-color: var(--green-color);
}

.services .card .service-card-top .price:hover::after{
        background-color: #535DA1;
}

.services .card p{
    margin: 30px 0 15px;
    color: var(--light-black);
    line-height: 1.5;
}

.services .card button{
    border: 1px solid #cdcdcd;
    background-color: white;
    border-radius: var(--simple-border-radius);
    padding: 10px 20px;
    cursor: pointer;
}

.services .card button a{
    text-decoration: none;
    color: var(--light-black);
}

.services .card button:hover{
    background-color: var(--green-color);
    box-shadow: 0px 8px 24px rgba(20, 183, 137, 0.2);
}

.services .card button:hover a{
    color: white;
}

.services .card i{
    position: absolute;
    bottom: -25px;
    right: -18px;
    font-size: 60px;
    color: black;
    border: 1px solid #efefef;
    padding: 60px 60px;
    border-radius: var(--simple-border-radius);
    transform: rotateZ(-36deg);
    background-color: transparent;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.services .card:hover i{
    background-color: var(--green-color);
    color: white
}

@media (max-width: 575px){
    .services .card i{
        padding: 35px;
    }

}
.projects{
    background-color: white;
}

.projects .title-section{
    width: calc(calc(calc(100% / 3) * 2) - 10px);
    display: flex;
    justify-self: flex-end;
}

.projects .projects-list{
    gap: 20px;
    flex-wrap: wrap;
}

.projects .projects-list .card{
    width: calc(calc(100% / 3) - 20px);
    padding: 35px;
    background-color: var(--dark-bg-color);
}

.projects .projects-list .card img{
    position: absolute;
    border-radius: var(--simple-border-radius);
    width: calc(100% - 70px);
    bottom: 0px;
    left: 50%;
    transform: rotateZ(13deg) translateX(-50%) translateY(70px);
    transition: transform 0.5s;
}

.projects .projects-list .card img:hover{
    transform: rotateZ(0) translateX(-50%) translateY(-20px);
}

@media (max-width: 1199px){
    .projects .projects-list .card{
        width: calc(50% - 30px);   
        height: 480px;     
    }

}

@media (max-width: 992px){
    .projects .title-section{
        width: 100%;
    }
    .projects .projects-list .card{
        height: 370px;     
    }
}

@media (max-width: 767px){
    .projects .title-section{
        width: 100%;
    }

    .projects .projects-list .card{
        height: 270px;
    }
    
    .projects .projects-list .card .name{
        font-size: 24px;
    }

    .projects .card img{
        width: 200px;
    }
}

@media (max-width: 575px){

    .projects .projects-list{
        justify-content: center;
    }
    
    .projects .projects-list .card{
        width: 100%;
        height: 400px;
        /* text-align: center; */
        padding-left: 20px;
        padding-right: 20px;
    }

    .projects .projects-list .card img{
        width: 270px;
        transform: rotateZ(0) translateX(-50%) translateY(-20px);
    }

    .projects .projects-list .card img:hover{
        transform: rotateZ(0) translateX(-50%) translateY(-20px);
    }
}

.projects .card .category{
    color: var(--green-color);
    font-size: 12px;
    margin-bottom: 5px;
}

.contact{
    background-color: var(--dark-bg-color);
}

.contact .title-section{
    width: calc(50% - 10px);
}

.contact .contact-sections{
    flex-wrap: wrap;
    gap: 15px; 
}

.contact .contact-sections>div{
    width: calc(50% - 10px);
}

.contact .contact-sections .info{
    background-color: white;
    padding: 40px 30px;
    border-radius: var(--simple-border-radius);
    position: relative;
}

.contact .contact-sections .info::after{
    content: "";
    position: absolute;
    width: 0.5px;
    height: 100%;
    background-color: var(--light-border-color);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.contact .contact-sections .info .brief-data,
.contact .contact-sections .info .about
{
    width: calc(50% - 20px);
}

.contact .contact-sections .info .brief-data>div,
.contact .contact-sections .info .about>div{
    margin-bottom: 20px;
}

.contact .info h1{
    font-size: 14px;
    margin-bottom: 12px;
}

.contact .info .services-list{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.contact .info .services-list li{
    list-style: none;
    width: 100px;
    text-align: center;
    padding: 6px 10px;
    border: 1px solid var(--light-border-color);
    border-radius: var(--simple-border-radius);
    font-size: 14px;
    color: var(--light-black);
}

.contact .info .connect .icons li{
    list-style: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid var(--light-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .info .connect .icons li a{
    text-decoration: none;
    color: black;
}

.contact .info .available .available-content{
    color: var(--light-black);
}

.contact .info .about .about-content,
.contact .info .about .email-address,
.contact .info .about .phone-num{
    color: var(--light-black);
}

@media (max-width: 992px){
    .contact .title-section{
        width: 100%;
    }

    .contact .contact-sections .info,
    .contact .contact-sections .contact-info{
        width: 100%
    }
}

@media (max-width: 575px){
    .contact .contact-sections .info{
        flex-direction: column;
    }

    .contact .contact-sections .info::after{
        display: none;
    }

    .contact .contact-sections .info .brief-data,
    .contact .contact-sections .info .about{
        width: 100%;
    }
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-info .name-email input{
    width: calc(50% - 10px);
}

.contact-info input,
.contact-info textarea{
    border: 2px solid var(--light-border-color);
    outline: none;
    border-radius: 5px;
    padding: 15px 10px;
}

.contact-info input[type=checkbox]{
    display: none;
}

label{
    display: block;
    width: calc(25% - 20px);
    height: 80px;
}

label .box-content{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    border: 2px solid var(--light-border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

label:hover .box-content,
label input:checked + .box-content{
    border-color: var(--green-color);
    background-color: var(--dark-bg-color);
}

label i{
    color: var(--green-color);
    font-size: 12px;
    margin-bottom: 5px;
}

label .service-name{
    color: var(--light-black);
    font-size: 14px;
}

textarea{
    resize: none;
}

button[type=submit]{
    width: fit-content;
    padding: 20px 50px;
    align-self: end;
    background-color: var(--green-color);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 575px){
    .contact-info form .checkboxes{
        flex-wrap: wrap;
        gap: 10px;
    }

    label{
        width: calc(50% - 10px);
    }

    label .box-content{
        border-color: white;
    }
    
    button[type=submit]{
        align-self: center;
    }
}

footer{
    background-color: white;
    height: 100px;
}

footer .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container p{
    text-align: center;
    color: var(--light-black);
    line-height: 1.5;
}

footer .container a{
    text-decoration: none;
    color: var(--light-black);
    font-weight: 800;
}
